.root {
  min-height: calc(100vh - 85px);
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 0px 130px;
  position: relative;
  z-index: 1;
  transition: padding 0.5s ease-out;

  @media screen and (max-width: 1200px) {
    transition: padding 0.5s ease-out;
    padding: 0px 60px;
  }
  @media screen and (max-width: 768px) {
    transition: padding 0.5s ease-out;
    padding: 0px 30px;
    gap: 40px;
  }
  .title {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .divider {
      height: 5px;
      background-color: #83e573;
      width: 200px;
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 50px;

    .project_item {
      padding: 0px 70px;
      display: flex;
      gap: 40px;
      align-items: center;

      .project_item-img {
        width: 300px;
      }

      @media screen and (max-width: 1200px) {
        padding: 0px;
      }
      @media screen and (max-width: 992px) {
        flex-direction: column;
      }

      @media screen and (max-width: 500px) {
        img {
          width: 300px;
        }
      }

      .project_item-text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (max-width: 992px) {
          align-items: center;
        }

        a {
          cursor: pointer;
        }
      }
    }
  }

  .yellow_circle {
    position: absolute;
    left: -50px;
    top: 20px;
    z-index: -1;
    width: 320px;
    transition: width 0.5s ease-out;

    @media screen and (max-width: 992px) {
      transition: width 0.5s ease-out;

      width: 150px;
      top: 50%;
      left: 100px;
    }

    @media screen and (max-width: 500px) {
      transition: width 0.5s ease-out;

      width: 150px;
      top: 45%;
      left: 50px;
    }
  }

  .red_ball {
    position: absolute;
    z-index: -1;
    right: 200px;
    top: 50%;
    transition: all 0.5s ease-out;

    @media screen and (max-width: 1200px) {
      transition: all 0.5s ease-out;

      top: 150px;
      right: 50px;
    }

    @media screen and (max-width: 500px) {
      transition: all 0.5s ease-out;
      top: 0px;
      right: 0px;
      transform: translate(50%, -50%);
    }
  }
}
