footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 120px;

  @media screen and (max-width: 1200px) {
    padding: 20px 60px;
  }
  @media screen and (max-width: 500px) {
    padding: 20px 20px;
  }
  nav {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}
