.contacts_root {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 80px 130px;
  position: relative;
  transition: padding 0.5s ease-out;

  @media screen and (max-width: 1200px) {
    transition: padding 0.5s ease-out;
    padding: 80px 60px;
  }
  @media screen and (max-width: 768px) {
    transition: padding 0.5s ease-out;
    padding: 80px 30px;
    gap: 40px;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .divider {
      height: 5px;
      background-color: #83e573;
      width: 200px;
    }
  }

  .contacts {
    display: flex;
    gap: 100px;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
    .contacts_info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      h2 {
        text-align: center;
      }
    }
  }

  .triangles_first {
    position: absolute;
    top: 50px;
    right: -50px;
    transition: all 2s ease-out;
  }

  .triangles_second {
    position: absolute;
    top: 50px;
    left: -50px;
    transition: scale 2s ease-out;
  }

  .triangles_first,
  .triangles_second {
    @media screen and (max-width: 1200px) {
      transition: all 2s ease-out;
      width: 300px;
    }

    @media screen and (max-width: 850px) {
      transition: all 2s ease-out;
      width: 200px;
    }

    @media screen and (max-width: 600px) {
      top: 5px;
      transition: all 2s ease-out;
      width: 150px;
    }
  }
}
